
<div class="container jumbotron">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <table class="table table-dark ">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="times in $ctrl.openingTimes">
          <th scope="row">{{times.name}}</th>
          <td>
            <span ng-if="times.start.open.hours > 0 || times.start.open.minutes > 0 || times.start.close.hours > 0||times.start.close.minutes > 0">de {{times.start.open.hours}}:{{times.start.open.minutes | zeroForNumberSingleDigit}} à {{times.start.close.hours}}:{{times.start.close.minutes | zeroForNumberSingleDigit}} <button class="btn btn-link glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.deleteTime($index, 'start')"></button></span><br>
            <span ng-if="times.end.open.hours > 0 || times.end.open.minutes > 0 || times.end.close.hours > 0 || times.end.close.minutes > 0">de {{times.end.open.hours}}:{{times.end.open.minutes | zeroForNumberSingleDigit}} à {{times.end.close.hours}}:{{times.end.close.minutes | zeroForNumberSingleDigit}} <button class="btn btn-link glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.deleteTime($index, 'end')"></button></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="container ">

  <div class="row">
    <div class="panel panel-default col-md-8 col-md-offset-2 text-center">
      <div class="panel-body">

        <form name="openingTimesForm" class="form-inline" ng-submit="$ctrl.submitOpeningTimesForm()">
          <div class="col-md-12">
            <div class="form-group">
              <label class="checkbox-inline" ng-repeat="day in $ctrl.dayNames">
                <input type="checkbox" id="checkbox-{{day}}" ng-model="$ctrl.openingTimesDataForm.days[$index].checked"> {{day}}
              </label>
            </div>
          </div>

          <div class="col-md-12 padding-top">
            <div class="form-group" ng-class="{'has-error': openingTimesForm.openHours.$invalid }">
              <label for="openHours">De</label>
              <input type="number" id="openHours" name="openHours"  step="1" min="0" max="23" ng-maxlength="2"  ng-model="$ctrl.openingTimesDataForm.open.hours" class="form-control" placeholder="0">
            </div>
            <div class="form-group" ng-class="{'has-error': openingTimesForm.openMinutes.$invalid}">
              <label for="openMinutes" >:</label>
              <input  type="number" id="openMinutes" name="openMinutes" step="1" min="0" max="59" ng-minlength="0" ng-maxlength="2" ng-model="$ctrl.openingTimesDataForm.open.minutes " class="form-control" placeholder="00">
            </div>
            <div class="form-group"  ng-class="{'has-error': openingTimesForm.closeHours.$invalid}">
              <label for="closeHours">à</label>
              <input type="number" id="closeHours" name="closeHours" step="1" min="0" max="23" ng-maxlength="2"  ng-model="$ctrl.openingTimesDataForm.close.hours" class="form-control" placeholder="0">
            </div>
            <div class="form-group" ng-class="{'has-error': openingTimesForm.closeMinutes.$invalid}">
              <label for="closeMinutes">:</label>
              <input type="number" id="closeMinutes" name="closeMinutes" step="1" min="0" max="59" ng-minlength="0" ng-maxlength="2" ng-model="$ctrl.openingTimesDataForm.close.minutes" class="form-control" placeholder="00">
            </div>
          </div>
          <div class="col-md-12 padding-top">
            <button class="btn btn-lg btn-primary" ng-disabled="$ctrl.hasLeastOneDayChecked()  " type="submit">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
